<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Start WOWSlider.com BODY section id=wowslider-container1 -->
    <div id="wowslider-container1">
        <div class="ws_images">
            <ul>
                <li><img src="data1/images/bride.jpg" alt="" title="" id="wows1_0"/></li>
                <li><img src="data1/images/brideandgroom.jpg" alt="" title="" id="wows1_1"/></li>
                <li><img src="data1/images/brideleave.jpg" alt="" title="" id="wows1_2"/></li>
                <li><img src="data1/images/hall.jpg" alt="" title="" id="wows1_3"/></li>
                <li><img src="data1/images/humor.jpg" alt="" title="" id="wows1_4"/></li>
                <li><img src="data1/images/ila.jpg" alt="" title="" id="wows1_5"/></li>
                <li><img src="data1/images/maids2.jpg" alt="" title="" id="wows1_6"/></li>
                <li><img src="data1/images/mehendi.jpg" alt="" title="" id="wows1_7"/></li>
                <li><img src="data1/images/ring.jpg" alt="" title="" id="wows1_8"/></li>
                <li><img src="data1/images/vanitha_copy.jpg" alt="full screen slider"
                                                           title="" id="wows1_9"/></li>
                <li><img src="data1/images/violet_maids.jpg" alt="" title="" id="wows1_10"/></li>
            </ul>
        </div>
        <div class="ws_bullets">
            <div>
                <a href="#" title="">1</a>
                <a href="#" title="">2</a>
                <a href="#" title="">3</a>
                <a href="#" title="">4</a>
                <a href="#" title="">5</a>
                <a href="#" title="">6</a>
                <a href="#" title="">7</a>
                <a href="#" title="">8</a>
                <a href="#" title="">9</a>
                <a href="#" title="">10</a>
                <a href="#" title="">11</a>
            </div>
        </div>
        <a href="#" class="ws_frame"></a>

        <div class="ws_shadow"></div>
    </div>
    <script type="text/javascript" src="engine1//wowslider.js"></script>
    <script type="text/javascript" src="engine1//script.js"></script>
    <!-- End WOWSlider.com BODY section -->
</header>
