[project]
	description = base Oct28 signup initial commit
[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group user/naveens239
[access "refs/for/refs/*"]
	read = group user/naveens239
	push = group user/naveens239
	label-Code-Review = -2..+2 group user/naveens239
	label-Verified = -1..+1 group user/naveens239
	rebase = group user/naveens239
	removeReviewer = group user/naveens239
	submit = group user/naveens239
[access "refs/heads/*"]
	read = group user/naveens239
	create = group user/naveens239
	push = +force group user/naveens239
	pushMerge = group user/naveens239
[access "refs/tags/*"]
	push = +force group user/naveens239
	pushTag = group user/naveens239
	pushSignedTag = group user/naveens239
