/* Website template by freewebsitetemplates.com */
@font-face {
    font-family: 'Caudex-Regular';
    src: url('../fonts/Caudex-Regular.eot');
    src: local('☺'),  url('../fonts/Caudex-Regular.woff') format('woff'),  url('../fonts/Caudex-Regular.ttf') format('truetype'),  url('../fonts/Caudex-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Muli-Light';
    src: url('../fonts/Muli-Light.eot');
    src: local('☺'),  url('../fonts/Muli-Light.woff') format('woff'),  url('../fonts/Muli-Light.ttf') format('truetype'),  url('../fonts/Muli-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    background: url(../images/bg-body.jpg) repeat left top;
    font-family: 'Muli-Light';
    margin: 0;
}
img {
    border: 0;
}
/*------------------------------ HEADER ------------------------------*/
#navigation li a, #contact form input.btn {
    /*background: url(../images/buttons.png) no-repeat;*/
}
#blog div.box, #blog div.box div.header {
    background: url(../images/bg-boxborders.png) no-repeat;
}
/*------------------------------ HEADER ------------------------------*/
#header {
    background: url(../images/bg-header03.png) no-repeat center top;
    height: 206px;
    width:100%;
    text-align: right;

}
#header > div {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
/** Logo **/
#logo {
    float: left;
    margin-left:-200px;
    margin-top:-5px;
}
.img_logo{
    height:150px;
    width:350px;
}
/** Navigation **/
#navigation {
    list-style: none;
    display: inline-block;
    width: 610px;
    margin: 0;
    padding: 0;
    margin-right:-400px;
}
#navigation li {
    float: left;
    font-size: 14pt;
    height: 206px;
    width: 138px;
    margin-left: -16px;
    text-align: center;
}
#navigation li a {
    background-position: -144px 0;
    color: #e4dec0;
    display: block;
    font-family: 'Caudex-Regular';
    font-size: 14px;
    height: 206px;
    width: 138px;
    line-height: 200px;
    outline: 0;
    text-decoration: none;
    text-shadow: 1px 1px #3d3413;
    text-transform: uppercase;
}
#navigation li a:hover {
    background-position: 0 0;
    color: #e2bb0b;
    font-size:1.1em;
}
/*------ SEARCH-----*/
#tfheader{
    background-color:none;
}
#tfnewsearch{
    float:right;
    padding:20px;
}
.tftextinput{

    width: 270px;
    padding: 15px;
    font-family: 'Caudex-Regular';
    font-size:14px;
    border:1px solid #ccaf61;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}
.tfbutton {
    float:right;
    padding: 5px 15px;
    font-family: 'Caudex- Regular';
    text-transform: uppercase;
    font-weight: normal;
    font-size:14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #836544;
    border: solid 1px #ccaf61;
    background: #EEE6CF;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE6CF), to(#ccc099));

    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}
.tfbutton:hover {
    text-decoration: none;
    background:#D8C795;
}

/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
    border: 0;
}
.tfclear{
    clear:both;
}
/*------------------------------ CONTENTS ------------------------------*/
#contents {
    background: url(../images/bg-content-top.png) no-repeat center -6px;
    min-height: 85px;
    margin-top: -72px;
    position: relative;
}
#contents > div {
    width: 360px;
    margin: 0 auto;
    padding-top: 30px;
}
#contents h1, h3, h5 {
    color: #836544;
    font-family: 'Caudex-Regular';
    font-weight: normal;
    margin: 0 0 30px;
    text-transform: uppercase;
}
#contents h5 {
    color: #474747;
}
#contents p {
    color: #474747;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    padding: 0 0 24px;
}
#contents p a {
    color: #474747;
}
#contents p a:hover {
    color: #887c6c;
}
#contents p a.author, #contents p a.comments {
    color: #F0F0DD;
    text-decoration: none;
}
/** adbox **/
#contents #adbox {
    background: url(../images/bg-content-top.png) no-repeat center -5px;
    height: 585px;
    width: 100%;
    padding-top: 9px;
    position: relative;


}
#adbox > div {
    height: 560px;
    width: 980px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;

}
#adbox > div img {
    float: left;
    top:30px;
    left:-150px;
    height:450px;
    width:650px;
    z-index:6;
    position:absolute;
}
#adbox > div div.details {
    font-family: 'Caudex-Regular';
    width: 345px;
    position: absolute;
    right: 50px;
    top: 170px;
    margin-top:-500px;
    margin-left:60px;
}
#adbox div.details h3 {
    color: #836544;
    font-weight: normal;
    text-transform: uppercase;
}
#adbox div.details a {
    background: url(../images/arrow.gif) no-repeat right center;
    color: #848484;
    font-style: italic;
    padding-right: 15px;
    text-decoration: none;
}
#adbox div.details a:hover {
    color: #7c844b;
}
#adbox span.footer {
    background: url(../images/bg-content-top.png) no-repeat center top;
    display: block;
    height: 220px;
    width: 100%;
    position: absolute;
    bottom: -150px;
    left: 0;


}
.banner_border{
    background: url(../images/bg-box.png) no-repeat center top;
    display: block;
    height: 220px;
    width: 100%;
    position: absolute;
    bottom: -980px;
    left: 0;

}
.banner_footer{
    background: url(../images/banner.png) no-repeat center top ;
    display: block;
    max-height: 170px;
    width: 100%;
    position: fixed;
    bottom: -970px;
    left: 0;
    top:78%;
    z-index:10;
}
#close {
    position: fixed;
    top: 78%;
    right: 15.5%;
    z-index:20;

}
.details .container{
    margin-top:-110px;
    margin-left:-30px;
}

/** Featured **/
#featured {
    /*	background: url(../images/bottomsari.png) no-repeat;*/
    padding-bottom:18px 0;
}
#featured a {

    background: url(../images/buttons_final.png) no-repeat;
    display: inline-block;
    height: 300px;
    width: 280px;
    margin-left: 4px;
}
#featured a:first-child {
    margin-left: 150px;
}
#featured a.all-colors {
    background-position: -324px 0;
}
#featured a.highlights {
    background-position: -324px -328px;
}
#featured a.coloring {
    background-position: -324px -656px;
}
#featured a.all-colors:hover {
    background-position: 0 0;
}
#featured a.highlights:hover {
    background-position: 0 -328px;
}
#featured a.coloring:hover {
    background-position: 0 -656px;
}
/** MAIN **/
#main {
    float: left;
    min-height: 840px;
    width: 620px;
}
#main ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#main ul li {
    display: inline-block;
    margin-bottom: 24px;
}
#main ul li img {
    float: left;
    margin-right: 20px;
}
/** SIDEBAR **/
#sidebar {
    float: right;
    width: 278px;
}
#sidebar h3 {
    background: url(../images/border4.png) repeat-x left bottom;
    margin: 0 0 12px;
    padding-bottom: 12px;
}
#sidebar ul {
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
}
#sidebar ul li {
    background: url(../images/border4.png) repeat-x left bottom;
    display: inline-block;
    width: 100%;
    padding: 11px 0;
}
#sidebar ul li:first-child {
    padding-top: 0;
}
#sidebar ul li a {
    color: #836544;
    display: block;
    font: 14px/24px 'Caudex-Regular';
    text-decoration: none;
}
#sidebar ul li a:hover, #sidebar ul li.selected a {
    color: #a09678;
}
/** About **/
#about {
    padding-bottom: 30px;
}
#about img {
    float: right;
    margin: 6px 0 30px 20px;
}
#about img.left {
    float: left;
    margin-left: 0;
    margin-right: 20px;
}
#about p {
    padding-bottom: 36px;
}
/** Services **/
#contents #services {
    width: 940px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left:110px;
}
#services:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
#services h5 {
    float: right;
    background: url(../images/border4.png) repeat-x left bottom;
    width: 480px;
    margin: 0 0 12px;
    padding-bottom: 12px;
}
#services #main ul {
    padding-top: 7px;
}
/** Blogs **/
#blog div.box {
    background-position: -651px bottom;
    width: 630px;
    padding-bottom: 8px;
}
#blog div.box div.header {
    background-position: 0 0;
    padding-top: 8px;
}
#blog div.box div.body {
    background: url(../images/bg-box.png) repeat-y left top;
    padding-left: 2px;
    padding-right: 10px;
}
#blog div.box h3 a {
    /*background: url(../images/bg-heading.png) no-repeat right top;*/
    color: #fff;
    display: block;
    height: 59px;
    line-height: 50px;
    margin-bottom: 12px;
    margin-left: -1px;
    padding: 0 10px;
    text-decoration: none;
    text-shadow: 1px 1px #4c4121;
}
#blog div.box h3 a:hover {
    background-position: left top;
}
#blog div.box img {
    margin: 0 10px 12px;
}
#blog div.box p {
    margin: 0;
    padding-left: 12px;
    padding-right: 20px;
}
#blog div.box p.infos {
    padding-bottom: 10px;
    padding-top: 2px;
}
#blog #sidebar ul.posts {
    margin-bottom: 36px;
}
#blog #sidebar ul.posts li img {
    float: left;
    margin-right: 20px;
}
#blog #sidebar ul.posts li span {
    color: #474747;
    font-size: 12px;
    font-style: italic;
}
#blog #sidebar ul.posts li a {
    display: inline-block;
    font-family: 'Caudex-Regular';
    font-weight: 500;
    width: 192px;
    text-decoration: none;
}
/** Contact **/
#contact {
    min-height: 840px;
}
#contact img {
    float: right;
    margin: 6px 0 30px 20px;
}
#contact form table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}
#contact form table td {
    padding: 0 6px 12px 0;
    vertical-align: top;
}
#contact form table td:first-child {
    width: 132px;
}
#contact form label {
    color: #474747;
    font-size: 14px;
    margin: 6px 0 0;
}
#contact form input.txtfield {
    color: #474747;
    height: 22px;
    line-height: 20px;
    width: 244px;
    border: 1px solid #ecd9b0;
    padding: 1px 2px;
}
#contact form textarea {
    color: #474747;
    height: 154px;
    width: 334px;
    border: 1px solid #ecd9b0;
    margin: 0 0 4px;
    padding: 2px;
    overflow: auto;
    resize: none;
}
#contact form input.btn {
    background-position: -154px -239px;
    cursor: pointer;
    height: 40px;
    width: 144px;
    border: 0;
    padding: 0;
}
#contact form input.btn:hover {
    background-position: 0 -239px;
}
/*------------------------------ FOOTER ------------------------------*/
#footer {
    clear: both;
}
/** Articles **/
#articles {
    background: url(../images/border2.png) no-repeat center bottom;
    color: #474747;
    margin: 0 auto;
    padding-bottom: 8px;
}
#articles p {
    font-size: 13px;
    line-height: 24px;
    margin: 0;
}
#articles p a {
    color: #977d5d;
    text-decoration: none;
}
#articles p a:hover {
    color: #6d773a;
}
#articles div.header {
    background: url(../images/border.png) no-repeat center top;
    padding-top: 8px;
}
#articles div.body {
    background: url(../images/bg-pattern.jpg) repeat-y center top;
    min-height: 300px;
}
#articles div.body > div {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
#articles div.body > div:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
#articles div.section {
    float: left;
    background: url(../images/border3.png) repeat-y left top;
    height: 284px;
    width: 295px;
    padding: 20px 5px 0 20px;
    overflow: hidden;
}
#articles div.section:first-child {
    background: none;
    padding-left: 0;
}
#articles div.section h3 {
    background: url(../images/border4.png) repeat-x 1px bottom;
    color: #836544;
    font-family: 'Caudex-Regular';
    font-weight: normal;
    margin-bottom: 12px;
    padding-bottom: 12px;
    text-transform: uppercase;
}
#articles ul.blog {
    list-style: none;
    margin: 0;
    padding: 0;
}
#articles ul.blog li {
    background: url(../images/border4.png) repeat-x 1px top;
    margin-bottom: 12px;
    padding-top: 13px;
}
#articles ul.blog li:first-child {
    background: none;
    padding-top: 0;
}
#articles ul.blog li span {
    display: block;
    font-size: 12px;
    font-style: italic;
}
#articles ul.blog li a {
    display: block;
    font-family: 'Caudex-Regular';
    font-size: 14px;
}
#articles table.info {
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 30px;
}
#articles table.info td {
    padding: 0;
}
#articles table.info tr td:first-child {
    width: 100px;
}
#connect a {
    background: url(../images/icons.png) no-repeat;
    display: inline-block;
    height: 26px;
    width: 25px;
    margin-right: 5px;
}
#connect a.facebook {
    background-position: -35px 0;
}
#connect a.twitter {
    background-position: -35px -38px;
}
#connect a.googleplus {
    background-position: -35px -77px;
}
#connect a.facebook:hover {
    background-position: 0 0;
}
#connect a.twitter:hover {
    background-position: 0 -38px;
}
#connect a.googleplus:hover {
    background-position: 0 -77px;
}
#footer div.footer {
    font-family: 'Caudex-Regular';
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
#footer div.footer {
    padding: 10px 0 20px;
}
#footer div.footer form {
    float: right;
    width: 292px;
    margin-right: 8px;
    text-align: right;
}
#footer div.footer form input.txtfield {
    color: #474747;
    font-size: 11px;
    height: 18px;
    line-height: 18px;
    width: 213px;
    border: 1px solid #ecd9b0;
    text-align: center;
}
#footer div.footer form input.btn {
    background-color: #977d5d;
    color: #fff;
    cursor: pointer;
    font-size: 11px;
    height: 19px;
    width: 54px;
    border: 0;
}
#footer div.footer form input.btn:hover {
    background-color: #685237;
}
#footer div.footer p {
    color: #5c5b58;
    font-size: 12px;
    line-height: 24px;
    margin: 0;
}
#footer div.footer p a {
    color: #5c5b58;
    border-left: 1px solid #6f6e68;
    margin-left: 5px;
    padding-left: 5px;
    text-decoration: none;
}
#footer div.footer p a:hover {
    color: #887c6c;
}
/*-----BREADCRUMB------*/
nav > .breadcrumb {
    height: 60px;
    line-height:20px;
    margin-top: 35px;
    margin-left:130px;
    padding: 12px !important;
    vertical-align:middle;
    overflow: hidden;
    list-style: none;
    background:none;
    background-clip: padding-box;
}

nav > .breadcrumb > li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-shadow: 0 1px 0 #ffffff;
}

nav > .breadcrumb > li > a {
    height:inherit;
    display: block;
    position: relative;
    padding: 7px 27px 7px 25px;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Caudex- Regular';
    text-transform: uppercase;
    font-weight: normal;
    color: #836544;
    border: solid 1px #ccaf61;

    outline:none;

    background-clip: padding-box;
    border-top-left-radius:0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius:0px;

    border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius:0px;

    border-top-right-radius:4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-radius-top-right:4px;

    border-bottom-right-radius:4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius:4px;

    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.065), inset 0px 1px 1px #fff;
    -moz-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.065), inset 0px 1px 1px #fff;
    -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.065), inset 0px 1px 1px #fff;

    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, rgb(241,241,241)),color-stop(1, rgb(245,245,245)));
    background-image: -webkit-linear-gradient(left top,left bottom, rgb(241,241,241) 0%,rgb(245,245,245) 100%);
    background-image: -moz-linear-gradient(center bottom, rgb(241,241,241) 0%, rgb(245,245,245) 100%);
    background-image: -o-linear-gradient(left top,left bottom, rgb(241,241,241) 0%,rgb(245,245,245) 100%);
    background-image: -ms-linear-gradient(left top,left bottom, rgb(241,241,241) 0%,rgb(245,245,245) 100%);
    background-image: linear-gradient(left top,left bottom, rgb(241,241,241) 0%,rgb(245,245,245) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f1f1f1, endColorstr=#f5f5f5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f1f1f1, endColorstr=#f5f5f5)";
    *zoom: 1;
}

nav > .breadcrumb > li > a:before {
    content:'';
    z-index:1;
    position: absolute;
    width: 24px;
    height: 24px;
    top:5px;
    right: -13px;

    outline:none;


    border-bottom-right-radius:3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius:3px;

    box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.055);
    -webkit-box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.055);

    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

nav > .breadcrumb > li > a:after {
    content:'';
    z-index:2;
    position: absolute;
    width: 24px;
    height: 24px;
    top:5px;
    right: -12px;

    outline:none;
    border: 1.8px solid #ccaf61;
    border-top:none;
    border-left:none;

    border-bottom-right-radius:4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius:4px;

    box-shadow: inset -5px -5px 3px -4px rgba(0, 0, 0, 0.065), inset -1px -1px 0px rgba(265, 265, 265, 1);
    -moz-box-shadow: inset -5px -5px 3px -4px rgba(0, 0, 0, 0.065), inset -1px -1px 0px rgba(265, 265, 265, 1);
    -webkit-box-shadow: inset -5px -5px 3px -4px rgba(0, 0, 0, 0.065), inset -1px -1px 0px rgba(265, 265, 265, 1);

    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);

    background-clip: padding-box;
    background-image: -webkit-gradient(linear,right top,left bottom, color-stop(0, rgb(241,241,241)),color-stop(1, rgb(245,245,245)));
    background-image: -webkit-linear-gradient(right top,left bottom, rgb(241,241,241) 0%,rgb(245,245,245) 100%);
    background-image: -moz-linear-gradient(225deg, rgb(241,241,241) 0%, rgb(245,245,245) 100%);
    background-image: -o-linear-gradient(right top,left bottom, rgb(241,241,241) 0%,rgb(245,245,245) 100%);
    background-image: -ms-linear-gradient(right top,left bottom, rgb(241,241,241) 0%,rgb(245,245,245) 100%);
    background-image: linear-gradient(right top,left bottom, rgb(241,241,241) 0%,rgb(245,245,245) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f1f1f1, endColorstr=#f5f5f5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f1f1f1, endColorstr=#f5f5f5)";
    *zoom: 1;
}

nav > .breadcrumb > li:first-child > a {
    padding: 8px 22px 7px 15px;

    border-top-left-radius:5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius:5px;

    border-bottom-left-radius:5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius:5px;
}


nav > .breadcrumb > li > a:hover {
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-size: 13px;

    color: #836544;
    background-color: #f2ecc4;
    *background-color: #f2ecc4;
    background-image: -moz-linear-gradient(top, #f2ecc4, #f2ecc4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2ecc4), to(#f2ecc4));
    background-image: -webkit-linear-gradient(top, #f2ecc4, #f2ecc4);
    background-image: -o-linear-gradient(top, #f2ecc4, #f2ecc4);
    background-image: linear-gradient(to bottom, #f2ecc4, #f2ecc4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;

    *zoom: 1;

    border: 1px solid #ccc49d;

    border-top-left-radius:0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius:0px;

    border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius:0px;

    border-top-right-radius:4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-radius-top-right:4px;

    border-bottom-right-radius:4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius:4px;

    background-clip: padding-box;
}

nav > .breadcrumb > li > a:first-child:hover {
    border: 1px solid #ccaf61;

    border-top-left-radius:4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius:4px;
}

nav > .breadcrumb > li > a:hover:after {
    color: #ccaf61;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #f2ecc4;
    *background-color: #f2ecc4;

    background-image: -webkit-gradient(linear,right top,left bottom, color-stop(0, #f2ecc4),color-stop(1, #f2ecc4));
    background-image: -webkit-linear-gradient(right top,left bottom, #f2ecc4 0%, #f2ecc4 100%);
    background-image: -moz-linear-gradient(225deg, #f2ecc4, #f2ecc4);
    background-image: -ms-linear-gradient(right top,left bottom, rgb(241,241,241) 0%,rgb(245,245,245) 100%);
    background-image: -o-linear-gradient(right top,left bottom, #f2ecc4, #f2ecc4);
    background-image: linear-gradient(right top,left bottom, #f2ecc4, #f2ecc4);

    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    outline:none;
    border-width: 1px;
    border-style: solid;
    border-color: #ccaf61;
    border-top:none;
    border-left:none;
}
nav > .breadcrumb > li > a#first.activecrumb
{
    font-size: 15px;
    color: #836544;
    background-image: -webkit-linear-gradient(top, none, none);
    background-image: -o-linear-gradient(top, none, none);
    *zoom: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #ccaf61;
}
nav > .breadcrumb > li > a#second.activecrumb
{
    font-size: 15px;
    color: #836544;
    background-image: -webkit-linear-gradient(top, none, none);
    background-image: -o-linear-gradient(top, none, none);
    *zoom: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #ccaf61;
}
nav > .breadcrumb > li > a#third.activecrumb
{
    font-size: 15px;
    color: #836544;
    background-image: -webkit-linear-gradient(top, none, none);
    background-image: -o-linear-gradient(top, none, none);
    *zoom: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #ccaf61;
}
nav > .breadcrumb > li > a#fourth.activecrumb
{
    font-size: 15px;
    color: #836544;
    background-image: -webkit-linear-gradient(top, none, none);
    background-image: -o-linear-gradient(top, none, none);
    *zoom: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #ccaf61;
}

label {
    float:left;
    width:250px;
    clear:left;
    padding-top:10px;
    font-size: 14px;
}
.fill{
    float:center;
    padding-right:3px;
    padding-top:5px;
    width: 250px;
}
.form-required .control-label:after{
    content:"*";
    color:red;
}

.serviceform {
    float:left;
    margin-left:100px;
    padding: 5px 15px;
    font-family: 'Caudex- Regular';
    text-transform: uppercase;
    font-weight: normal;
    font-size:14px;
    outline: none;
    text-align: left;
    color: #836544;
    border: solid 1px #ccaf61; 	border-top-right-radius: 5px 5px;	border-bottom-right-radius: 5px 5px;
    overflow-y:auto;
}

#error h3 {
    color: #836544;
    font-family: 'Caudex-Regular';
    font-weight: normal;
    height:300px;
    margin-top: 100px;
    margin-left:70px;
    white-space: pre-wrap;
    text-transform:inherit;
}
#validate_form label.error {
    text-transform:none;
    font-size:12px;
    color:red;
}
#validate_form input.fill error {
    border:1px solid red;
}
.boxed{
    margin-top:60px;
    margin-left:200px;
    width: 900px;
    height: 300px;
    font-family: 'Caudex- Regular';
    text-transform: uppercase;
    font-weight: normal;
    font-size:14px;
    outline: none;
    text-align: left;
    color: #836544;
    border: solid 1px #ccaf61;
}

.chartboxed{
    margin-top:60px;
    margin-left:-100px;
    width: 900px;
    height: auto;
    font-family: 'Caudex- Regular';
    text-transform: uppercase;
    font-weight: normal;
    font-size:14px;
    outline: none;
    text-align: left;
    color: #836544;
    border: solid 1px #ccaf61;
}

#wrapper {
    width: 895px;
    height: 350px;;
    padding: 0;
    margin: 0 auto;
}
#left_div {
    width:447px;
    height: 300px;
    margin: 10px 0;
    background: none;
    float: left;
    border: solid 1px #ccaf61;
    overflow-y:auto;
    overflow-x:auto;
}
#left_div a {
    width: 447px;
    color: #836544;
    font: 'Caudex- Regular';
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
}
#left_div a:hover, a.active {
    background:  #ccaf61;
    color: black;
}
#right_div {
    width: 442px;
    height: 300px;
    padding: 0;
    margin-left: 450px;
    margin-top: -311px;
    background: none;
    float: left;
    border: solid 1px #ccaf61;
}
#right_div .container {
    width: 98%;
    height: 97%;
    padding: 0;
    margin: 10px 10px;
    background:none;
    float: left;
    color:black;
    word-wrap: break-word;
    overflow-y:auto;
}
.replyButton{
    float:right;
    padding: 5px 15px;
    font-family: 'Caudex- Regular';
    text-transform: uppercase;
    font-weight: normal;
    font-size:14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #836544;
    border: solid 1px #ccaf61;
    background: #EEE6CF;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

.replyButton:hover{
    text-decoration: none;
    background:#D8C795;
}


.serviceHover:hover{
    text-decoration: none;
    background:#D8C795;
}

.logo_icon{
    height:22px;
    width:20px;
}

.serviceform .contactyou{
    text-transform:none;
    display:inline;
    width:1%;
    margin-left:255px;
}