<!--<script src="js/libs/jquery.min.js"></script>-->
<script src="pages/vendor_profile/js/jquery.blueimp-gallery.min.js"></script>
<script src="pages/vendor_profile/js/bootstrap-image-gallery.js"></script>
<script src="pages/vendor_profile/js/gallery.js"></script>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="pages/vendor_profile/js/jquery.ui.widget.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="pages/vendor_profile/js/load-image.all.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="pages/vendor_profile/js/canvas-to-blob.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="pages/vendor_profile/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="pages/vendor_profile/js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="pages/vendor_profile/js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="pages/vendor_profile/js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="pages/vendor_profile/js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="pages/vendor_profile/js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="pages/vendor_profile/js/jquery.fileupload-validate.js"></script>